<div class="listing-page-banner-content {{ fields.name.content}}">
	<div class="listing-page-banner-image">
		<div class="listing-page-banner" style="--background: url({{ fields.field_banner.content }});">
		</div>
	</div>
	<div class="listing-page-banner-overlay"></div>
	<div class="listing-page-banner-caption">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-6 col-xl-5">
					<div class="listing-page-banner-desc"> 
						<h2 class="banner-title">{{ fields.name.content }}</h2>
						<h3 class="banner-sub-title">{{ fields.field_sub_title.content }}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
