/* VARIABLES */
// Reassign color vars to semantic color scheme
$white: #fff;
$black: #34363a;
$blue:#1cabe2;
$dark-blue:#374ea2;
$primary_blue:#d6e8f0;
$text-link : #8591a2;
$text-blue:#60c2e6;
$text-orange:#f24726;
$text-green:#2bb373;
$text-dark-blue:#1e33f0;
$light-blue:#e0f7ff;
$grey:#e4e4e5;
$blue-banner-bg:#93d6ec;
$green-banner-bg:#2bb373;
$red-banner-bg:#f24726;
$dark-blue-banner-bg:#1e33f0;
$color-text-black:#2d2926;
// Body
// Settings for the `<body>` element.
$primary-bg :$blue;
$body-bg: $white;

// Style anchor elements.
$link-decoration: none;
$box-shadow:none;
$link-hover-decoration: underline;
$weight-bold:bold;

//width
$width100 : 100%;
$zero:0px;



